<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Minor Project"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MinorProject">

        <!-- ===================== -->
        <!-- SPLASH - ONLY LAUNCHER -->
        <!-- ===================== -->

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ===================== -->
        <!-- MAIN ACTIVITY -->
        <!-- ===================== -->

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- ===================== -->
        <!-- LOGIN -->
        <!-- ===================== -->

        <activity
            android:name=".Login"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- ===================== -->
        <!-- MOBILE LOGIN -->
        <!-- ===================== -->

        <activity
            android:name=".MobileLogin"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- ===================== -->
        <!-- CREATE ACCOUNT -->
        <!-- ===================== -->

        <activity
            android:name=".createacount"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- ===================== -->
        <!-- PROFILE SETUP -->
        <!-- ===================== -->

        <activity
            android:name=".ProfileSetupActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- ===================== -->
        <!-- PROFILE -->
        <!-- ===================== -->

        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

        <!-- ===================== -->
        <!-- SYMPTOM SELECTION -->
        <!-- ===================== -->

        <activity
            android:name=".SymptomActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- ===================== -->
        <!-- HEALTH CHATBOT -->
        <!-- ===================== -->

        <activity
            android:name=".ChatbotActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ManualSymptomActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GeneralPhysicianActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProcessingActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecommendationActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>